.tik_tok {
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  height: 800px;
  width: 100%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.container::-webkit-scrollbar {
  display: none;
}
.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
